@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

html,body{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,
.hdr-style,
.cart_column_qty_label,
.cost_label,
.cart_summary_header,
.cart_summary_label,
button.checkout_button,
.cart_item_title,
.breadcrumbs__content
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
header{
    background: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
footer{
    background: #000;
    text-align: center;
    padding: 15px 0;
}
img.logo {
    width: 150px;
}
.menucart_icon{
    font-size: 25px;
    color: #fff;
}

section{
    padding: 0 20px;
    max-width: 400px;
    margin: 0 auto;
}

.breadcrumbs{
    padding: 15px 0;
}

.main__title{
    text-align: center;
}

button.checkout_button{
    margin: 10px 0;
    background-color: #212529;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    border: none;
}

button.checkout_button:hover{
    background-color: #56565C;
}

/* MENU CART */
span.menucart_counter {
    border-radius: 20px;
    background: #96ba26;
    font-weight: 700;
    font-size: 12px;
    padding: 3px 9px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Global Scripts */
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-space{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-half{
    width: 50%;
}


.flex-full,
.cart_image_featured{
    width: 100%;
}

/* Talent Page*/
.talents{
    padding: 10px 0;
}


/* Product Page */


/* Talent & Product & Cart Styles */
.product_full_info,
.talent_full_info
{
    text-align: center;
}

.product_item,
.cart_item{
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
}

.product_item_base_cost,
.product_item_total_cost,
.cart_item_base_cost,
.cart_item_total_cost,
.cart_summary_item{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}


.product_column_qty,
.cart_column_qty {
    width: 100%;
    display: flex;
}
.product_column_qty_label,
.cart_column_qty_label{
    width: 50%;
    font-weight: 700;
    align-self: center;
}
.product_column_qty_selector,
.cart_column_qty_selector {
    width: 50%;
    padding: 5px 10px;
    border: 1px solid #b3b3b3;
    display: flex;
    justify-content: space-between;
}
.product-items-qty-input,
.cart-items-qty-input{
    width: 70%;
    border: none;
    text-align: center;
}

/* CART PAGES */

.cart_row {
    display: flex;
    flex-wrap: wrap;
}
.cart_column{
    padding: 10px 0;
}
.cart_column_image{
    width: 110px;
}
.cart_column_info {
    width: calc(100% - 150px);
    font-weight: 600;
    padding: 20px;
}